{
  "AWSEBDockerrunVersion": "1",
  "Logging": "/var/log",
  "Image": {
    "Name": "fcrepo/fcrepo:${version}",
  	"Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": 8080,
      "HostPort": 80
    }
  ],
  "Volumes": [
    {
      "HostDirectory": "/mnt/fedora-data",
      "ContainerDirectory": "/usr/local/tomcat/fcrepo-home/data"
    }
  ]
}
